<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= pages_landing_path %>">List of students</a>
      </li>
    </ul>
  </div>
</nav>
